<div class="my-form1-title">
  Preguntas:
</div>

<div id="questios">
  {{#each tickets}}
    <div class="row row-whatsapptickets">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="my-field my-field-column">
          <label>{{question}} (Nombre: {{name}})</label>
          <input type="hidden" value="{{name}}" />
          {{#if type_selection}}
            <select class="my-selectionmenu">
              {{#each type_selection_value}}
                <option value="{{value}}">{{value}}</option>
              {{/each}}
            </select>
          {{else}}
            <input type="text" class="my-text" value="{{value}}" placeholder="Valor" />
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>